html
  head
    link(href='https://fonts.googleapis.com/css?family=Roboto Condensed', rel='stylesheet')
    title  RIORDAN BASEBALL - JV HOME
  body
    .container
      header
        h1.logo
          span#r RIORDAN
          span#b BASEBALL
        nav
          ul#nav
            li
              h2#home(href='#') HOME
            li
              h2#schedule(href='#') SCHEDULES
            li
              h2#roster(href='#') ROSTER
            li
              h2#lineup(href='#') LINEUP
            li
              h2#login(href='#') LOG IN
    #varsdiv
      h1#vars  RIORDAN VARSITY 2019 
      h2.info  COLORS: PURPLE, GOLD
      h2.info  MASCOT: CRUSADERS
      h2.info  ADDRESS:  175 PHELAN AVE, SAN FRANCISCO, CA 94112
      h2.info  COACH:  CORY NELSONQ
    footer
      h2#foot  © ARCHBISHOP RIORDAN HIGH SCHOOL 2019 
