html
  head
    link(href='https://fonts.googleapis.com/css?family=Roboto Condensed', rel='stylesheet')
    title   RIORDAN BASEBALL - POST
  body
    .container
      header
        h1.logo
          span#r RIORDAN
          span#b BASEBALL
        nav
          ul#nav
            li
              h2#home(href='#') HOME
            li
              h2#schedule(href='#') SCHEDULES
            li
              h2#roster(href='#') ROSTER
            li
              h2#lineup(href='#') LINEUP
            li
              h2#login(href='#') LOG IN
            li
              h2#login(href='#') POST
    .form-box
      form
        h2.formText  OPPONENT TEAM 
        input.textform(type='text', name='username')
        h2.formText  DATE 
        input.textform(type='text', name='date')
        h2.formText  TIME 
        input.textform(type='text', name='time')
        h2.formText  DETAILS 
        input.textform(type='text', name='details')
        h2.formText  SCORE 
        input.textform(type='text', name='score')
        button(type='', "submit"='')
          h2.buttontext GO
