html
  head
    link(href='https://fonts.googleapis.com/css?family=Roboto Condensed', rel='stylesheet')
    link(rel = 'stylesheet', href = 'Home.css')
    title  RIORDAN BASEBALL - HOME
  body
    .container
      header
        h1.logo
          span#r RIORDAN
          span#b BASEBALL
        nav
          ul#nav
            li
              h2#home(href='#') HOME
            li
              h2#schedule(href='#') SCHEDULES
            li
              h2#roster(href='#') ROSTERS
            li
              h2#lineup(href='#') LINEUPS
            li
              h2#login(href='#') LOG IN
