html
  head
    link(href='https://fonts.googleapis.com/css?family=Roboto Condensed', rel='stylesheet')
    title  RIORDAN BASEBALL - JV ROSTER
  body
    .container
      header
        h1.logo
          span#r RIORDAN
          span#b BASEBALL
        nav
          ul#nav
            li
              h2#home(href='#') HOME
            li
              h2#schedule(href='#') SCHEDULES
            li
              h2#roster(href='#') ROSTER
            li
              h2#lineup(href='#') LINEUP
            li
              h2#login(href='#') LOG IN
            li
              h2#post(href='#') POST
    table
      tbody
        tr
          th.headers
            h1 # NAME
          th.headers
            h1 POSITIONS
          th.headers
            h1 GRADE
        tr
          th
            h2.names 2	MATTHEW BALMEY
          th
            h2.names C
          th
            h2.names SOPHOMORE
        tr
          th
            h2.names 7 IAN DE VAYNES
          th
            h2.names CF
          th
            h2.names SOPHOMORE
        tr
          th
            h2.names 9 MATTHEW CANDLER
          th
            h2.names SS, RHP
          th
            h2.names SOPHOMORE
        tr
          th
            h2.names 10 CODY REBURIANO
          th
            h2.names C, RHP, 1B
          th
            h2.names SOPHOMORE
        tr
          th
            h2.names 15 JORDAN RENTERIA
          th
            h2.names 1B, RHP, RF
          th
            h2.names SOPHOMORE
        tr
          th
            h2.names 16 CHARLIE MORALAS
          th
            h2.names OF
          th
            h2.names SOPHOMORE
        tr
          th
            h2.names 21 TONY KENT
          th
            h2.names RHP, OF, C
          th
            h2.names SOPHOMORE
        tr
          th
            h2.names 23 MICHAEL DOUGLAS
          th
            h2.names 2B, RHP
          th
            h2.names SOPHOMORE
        tr
          th
            h2.names 24 MICHAEL CRONIN
          th
            h2.names RHP, C, 3B
          th
            h2.names SOPHOMORE
        tr
          th
            h2.names 32 JAYDEN MENDIOLA 
          th
            h2.names OF
          th
            h2.names SOPHOMORE
        tr
          th
            h2.names 33 DAMIAN LAPUZ 
          th
            h2.names P, 1B
          th
            h2.names SOPHOMORE
        tr
          th
            h2.names 40 DYLAN DEKKER
          th
            h2.names OF, RHP
          th
            h2.names SOPHOMORE
        tr
          th
            h2.names ANTHONY ZEVALLOS 
          th
            h2.names TEAM MANAGER 
          th
            h2.names SOPHOMORE
    #plusButton(tabindex='0')
      #plus +
