html
  head
    link(href='https://fonts.googleapis.com/css?family=Roboto Condensed', rel='stylesheet')
    title  RIORDAN BASEBALL - JV SCHEDULE
  body
    .container
      header
        h1.logo
          span#r RIORDAN
          span#b BASEBALL
        nav
          ul#nav
            li
              h2#home(href='#') HOME
            li
              h2#schedule(href='#') SCHEDULES
            li
              h2#roster(href='#') ROSTER
            li
              h2#lineup(href='#') LINEUP
            li
              h2#login(href='#') LOG IN
            li
              h2#login(href='#') POST
    #plusButton(tabindex='0')
      #plus +
    #varsdiv
      h1#vars  VS. SACRED HEART CATHEDRAL PREP 
      h2.info  DATE: 5/2
      h2.info  TIME: 3:30 PM
      h2.info  DETAILS:  WESTBOROUGH PARK
      h2.info  SCORE:  4-0 (LOSS)
    #varsdiv
      h1#vars  VS. @ SERRA 
      h2.info  DATE: 4/30
      h2.info  TIME: 4:00 PM
      h2.info  DETAILS: SERRA HIGH SCHOOL
      h2.info  SCORE:  12-1 (LOSS)
    #varsdiv
      h1#vars  VS. CAPUCHINO 
      h2.info  DATE: 4/27
      h2.info  TIME: 4:00 PM
      h2.info  DETAILS: ARCHBISHOP RIORDAN HIGH SCHOOL
      h2.info  SCORE:  7-1 (WIN)
    #varsdiv
      h1#vars  VS. MENLO-ATHERTON 
      h2.info  DATE: 4/26
      h2.info  TIME: 4:00 PM
      h2.info  DETAILS:  MENLO-ATHERTON HIGH SCHOOL
      h2.info  SCORE:  10-4 (LOSS)
    #varsdiv
      h1#vars  VS. @ HILLSDALE 
      h2.info  DATE: 4/23
      h2.info  TIME: 4:00 PM
      h2.info  DETAILS:  HILLSDALE HIGH SCHOOL
      h2.info  SCORE:  4-3 (LOSS)
    #varsdiv
      h1#vars  VS. BURLINGAME 
      h2.info  DATE: 4/19
      h2.info  TIME: 4:00 PM
      h2.info  DETAILS:  BURLINGAME HIGH SCHOOL
      h2.info  SCORE:  12-0 (LOSS)
    #varsdiv
      h1#vars  VS. @ CARLMONT 
      h2.info  DATE: 4/18
      h2.info  TIME: 4:00 PM
      h2.info  DETAILS:  FAIRMONT FIELD
      h2.info  SCORE:  10-4 (LOSS)
    #varsdiv
      h1#vars  VS. @ SERRA 
      h2.info  DATE: 4/15
      h2.info  TIME: 3:00 PM
      h2.info  DETAILS:  ARCHBISHOP RIORDAN HIGH SCHOOL
      h2.info  SCORE:  15-1 (LOSS)
    #varsdiv
      h1#vars  VS. SOUTH SAN FRANCISCO  
      h2.info  DATE: 4/13
      h2.info  TIME: 2:00 PM
      h2.info  DETAILS:  ORANGE PARK
      h2.info  SCORE:  13-8 (WIN)
    #varsdiv
      h1#vars  VS. @ MILLS 
      h2.info  DATE: 4/13
      h2.info  TIME: 11:00 AM
      h2.info  DETAILS:  MILLS HIGH SCHOOL
      h2.info  SCORE:  4-3 (WIN)
    #varsdiv
      h1#vars  VS. BELLARMINE COLLEGE PREP 
      h2.info  DATE: 4/12
      h2.info  TIME: 4:00 PM 
      h2.info  DETAILS:  BELARMINE COLLEGE PREP
      h2.info  SCORE:  8-1 (LOSS)
    #varsdiv
      h1#vars  VS. @ ST IGANTIUS  
      h2.info  DATE: 4/9
      h2.info  TIME: 4:00 PM
      h2.info  DETAILS: ARCHBISHOP RIORDAN HIGH SCHOOL
      h2.info  SCORE:  9-8 (LOSS)
    #varsdiv
      h1#vars  VS. @ VALLEY CHRISTIAN 
      h2.info  DATE: 4/6
      h2.info  TIME: 11:00 AM 
      h2.info  DETAILS:  SERRA HIGH SCHOOL
      h2.info  SCORE:  13-6 (LOSS)
    #varsdiv
      h1#vars  VS. @ ST FRANCIS 
      h2.info  DATE: 4/5
      h2.info  TIME: 6:30 PM
      h2.info  DETAILS:  ST FRANCIS HIGH SCHOOL
      h2.info  SCORE:  9-0 (LOSS)
    #varsdiv
      h1#vars  VS. ARCHBISHOP MITTY 
      h2.info  DATE: 4/2
      h2.info  TIME: 4:00 PM
      h2.info  DETAILS:  ARCHBISHOP RIORDAN HIGH SCHOOL
      h2.info  SCORE:  13-2 (LOSS)
    #varsdiv
      h1#vars  VS. EL CAMINO  
      h2.info  DATE: 3/30
      h2.info  TIME: 2:00 PM
      h2.info  DETAILS:  ARCHBISHOP RIORDAN HIGH SCHOOL
      h2.info  SCORE:  3-2 (WIN)
    #varsdiv
      h1#vars  VS. @ SACRED HEART CATHEDRAL PREP 
      h2.info  DATE: 3/29
      h2.info  TIME: 4:00 PM
      h2.info
        | DETAILS:  ARCHBISHOP RIORDAN HIGH SCHOOL
      h2.info  SCORE:  3-2 (WIN)
    #varsdiv
      h1#vars  VS. BELLARMINE COLLEGE PREP 
      h2.info  DATE: 3/22
      h2.info  TIME: 4:00 PM
      h2.info  DETAILS: ARCHBISHOP RIORDAN HIGH SCHOOL
      h2.info  SCORE:  4-0 (LOSS)
    #varsdiv
      h1#vars  VS. ST IGNATIUS 
      h2.info  DATE: 3/19
      h2.info  TIME: 4:00 PM
      h2.info  DETAILS:  ST IGNATIUS HIGH SCHOOL
      h2.info  SCORE:  17-3 (LOSS)
    #varsdiv
      h1#vars  VS. @  VALLEY CHRISTIAN  
      h2.info  DATE: 3/16
      h2.info  TIME: 2:00 PM
      h2.info  DETAILS:  VALLEY CHRISTIAN 
      h2.info  SCORE:  12-5 (LOSS)
    #varsdiv
      h1#vars  VS. ST FRANCIS 
      h2.info  DATE: 3/15
      h2.info  TIME: 4:00 PM
      h2.info  DETAILS:  ARCHBISHOP RIORDAN HIGH SCHOOL
      h2.info  SCORE:  13-2 (LOSS)
    #varsdiv
      h1#vars  VS. @ ARCHBISHOP MITTY 
      h2.info  DATE: 3/12
      h2.info  TIME: 3:30 PM
      h2.info  DETAILS:  ARCHBISHOP MITTY HIGH SCHOOL
      h2.info  SCORE:  14-1 (LOSS)
    #varsdiv2
      h1#vars  VS. RODRIGUEZ 
      h2.info  DATE: 2/22
      h2.info  TIME: 3:30 PM
      h2.info  DETAILS:  RODRIGUEZ HIGH SCHOOL
      h2.info  SCORE:  15-3 (LOSS)
    footer
      // <h2 id = "foot"> © ARCHBISHOP RIORDAN HIGH SCHOOL 2019 </h2>
