html
  head
    link(href='https://fonts.googleapis.com/css?family=Roboto Condensed', rel='stylesheet')
    title  RIORDAN BASEBALL - VARSITY ROSTER
  body
    .container
      header
        h1.logo
          span#r RIORDAN
          span#b BASEBALL
        nav
          ul#nav
            li
              h2#home(href='#') HOME
            li
              h2#schedule(href='#') SCHEDULES
            li
              h2#roster(href='#') ROSTER
            li
              h2#lineup(href='#') LINEUP
            li
              h2#login(href='#') LOG IN
            li
              h2#post(href='#') POST
    table
      tbody
        tr
          th.headers
            h1 # NAME
          th.headers
            h1 POSITIONS
          th.headers
            h1 GRADE
        tr
          th
            h2.names 2	MATEO GUITTAP
          th
            h2.names 2B
          th
            h2.names JUNIOR
        tr
          th
            h2.names 3 WILL MILLER
          th
            h2.names C
          th
            h2.names JUNIOR
        tr
          th
            h2.names 4 JASON QUINONES
          th
            h2.names SS, P, 3B
          th
            h2.names SENIOR
        tr
          th
            h2.names 6 DILLON RUGGIERO
          th
            h2.names LF, P, INF
          th
            h2.names SENIOR
        tr
          th
            h2.names 7 VHERNY RUSTRIAN
          th
            h2.names 1B
          th
            h2.names SENIOR
        tr
          th
            h2.names 9 ANTONIO ROCA
          th
            h2.names P, OF
          th
            h2.names SOPHOMORE
        tr
          th
            h2.names 11 SEAN MULLINS
          th
            h2.names P, OF
          th
            h2.names SENIOR
        tr
          th
            h2.names 12 JULIAN CASTILLO
          th
            h2.names 2B, P
          th
            h2.names SENIOR
        tr
          th
            h2.names 14 BRANDON VARGAS
          th
            h2.names SS, 2B
          th
            h2.names JUNIOR
        tr
          th
            h2.names 15 DANILO HERGER
          th
            h2.names 1B
          th
            h2.names JUNIOR
        tr
          th
            h2.names 17 STEVEN ELSNER
          th
            h2.names P, RF
          th
            h2.names JUNIOR
        tr
          th
            h2.names 18 JONATHAN BLECHA
          th
            h2.names 3B, LF
          th
            h2.names SOPHOMORE
        tr
          th
            h2.names 20 RANDY ABEROUETTE
          th
            h2.names 2B, RF, C
          th
            h2.names JUNIOR
        tr
          th
            h2.names 21 STEVEN RISSOTTO
          th
            h2.names P
          th
            h2.names JUNIOR
        tr
          th
            h2.names 22 GABRIEL WASSMER
          th
            h2.names CP, P, OF
          th
            h2.names SENIOR
        tr
          th
            h2.names 23 MATTHEW YEUNG
          th
            h2.names 3B, P, INF
          th
            h2.names SENIOR
        tr
          th
            h2.names 24 STEPHEN BLECHA
          th
            h2.names P, CF
          th
            h2.names SENIOR
        tr
          th
            h2.names 25 BRENDAN MATTIAS
          th
            h2.names 3B
          th
            h2.names SENIOR
        tr
          th
            h2.names 28 CHRISTIAN MIBACH
          th
            h2.names 1B
          th
            h2.names SENIOR
    #plusButton(tabindex='0')
      #plus +
