html
  head
    link(href='https://fonts.googleapis.com/css?family=Roboto Condensed', rel='stylesheet')
    title  RIORDAN BASEBALL - VARSITY SCHEDULE
  body
    .container
      header
        h1.logo
          span#r RIORDAN
          span#b BASEBALL
        nav
          ul#nav
            li
              h2#home(href='#') HOME
            li
              h2#schedule(href='#') SCHEDULES
            li
              h2#roster(href='#') ROSTER
            li
              h2#lineup(href='#') LINEUP
            li
              h2#login(href='#') LOG IN
            li
              h2#login(href='#') POST
    #plusButton(tabindex='0')
      #plus +
    #varsdiv
      h1#vars  VS. VALLEY CHRISTIAN 
      h2.info  DATE: 5/7
      h2.info  TIME: 4:00 PM
      h2.info  DETAILS:  WCAL TOURNAMENT
      h2.info  SCORE:  12-1 (LOSS)
    #varsdiv
      h1#vars  VS. SACRED HEART CATHEDRAL PREPARATORY 
      h2.info  DATE: 5/2
      h2.info  TIME: 4:00 PM
      h2.info  DETAILS:  ARCHBISHOP RIORDAN HIGH SCHOOL
      h2.info  SCORE:  11-0 (LOSS)
    #varsdiv
      h1#vars  VS. SERRA 
      h2.info  DATE: 4/30
      h2.info  TIME: 4:00 PM
      h2.info  DETAILS:  ARCHBISHOP RIORDAN HIGH SCHOOL
      h2.info  SCORE:  13-2 (LOSS)
    #varsdiv
      h1#vars  VS. STUART HALL 
      h2.info  DATE: 4/27
      h2.info  TIME: 11:00 AM
      h2.info  DETAILS: @ ARCHBISHOP RIORDAN HIGH SCHOOL
      h2.info  SCORE:  10-5 (WIN)
    #varsdiv
      h1#vars  VS. LINCOLN 
      h2.info  DATE: 4/26
      h2.info  TIME: 4:00 PM
      h2.info  DETAILS:  ARCHBISHOP RIORDAN HIGH SCHOOL
      h2.info  SCORE:  11-6 (WIN)
    #varsdiv
      h1#vars  VS. HILLSDALE 
      h2.info  DATE: 4/23
      h2.info  TIME: 4:00 PM
      h2.info  DETAILS:  ARCHBISHOP RIORDAN HIGH SCHOOL
      h2.info  SCORE:  11-4 (LOSS)
    #varsdiv
      h1#vars  VS. @ BURLINGAME 
      h2.info  DATE: 4/19
      h2.info  TIME: 7:00 PM
      h2.info  DETAILS: BURLINGAME HIGH SCHOOL
      h2.info  SCORE:  12-1 (LOSS)
    #varsdiv
      h1#vars  VS. MILLS 
      h2.info  DATE: 4/17
      h2.info  TIME: 3:30 PM
      h2.info  DETAILS: POSTPONED
      h2.info  SCORE:  5-4 (WIN)
    #varsdiv
      h1#vars  VS. LOWELL 
      h2.info  DATE: 4/16
      h2.info  TIME: 3:30 PM
      h2.info  DETAILS:  ARCHBISHOP RIORDAN HIGH SCHOOL
      h2.info  SCORE:  3-1 (LOSS)
    #varsdiv
      h1#vars  VS. @ SSF
      h2.info  DATE: 4/13
      h2.info  TIME: 11:00 AM
      h2.info  DETAILS:  SSF HIGH SCHOOL
      h2.info  SCORE:  15-5 (WIN)
    #varsdiv
      h1#vars  VS. BELLARMINE COLLEGE PREP 
      h2.info  DATE: 4/12
      h2.info  TIME: 4:00 PM
      h2.info  DETAILS:  ARCHBISHOP RIORDAN HIGH SCHOOL
      h2.info  SCORE:  4-3 (LOSS)
    #varsdiv
      h1#vars  VS. @ ST. IGNATIUS 
      h2.info  DATE: 4/9
      h2.info  TIME: 4:00 PM
      h2.info  DETAILS:  FAIRMONT FIELD
      h2.info  SCORE:  13-12 (LOSS)
    #varsdiv
      h1#vars  VS. @ VALLEY CHRISTIAN 
      h2.info  DATE: 4/6
      h2.info  TIME: 12:00 PM
      h2.info  DETAILS:  GIDEON FIELD
      h2.info  SCORE:  15-0 (LOSS)
    #varsdiv
      h1#vars  VS. ST. FRANCIS 
      h2.info  DATE: 4/5
      h2.info  TIME: 4:00 PM
      h2.info  DETAILS:  ARCHBISHOP RIORDAN HIGH SCHOOL
      h2.info  SCORE:  8-2 (LOSS)
    #varsdiv
      h1#vars  VS. @ ARCHBISHOP MITTY 
      h2.info  DATE: 4/2
      h2.info  TIME: 4:00 PM
      h2.info  DETAILS:  ARCHBISHOP MITTY HIGH SCHOOL
      h2.info  SCORE:  7-3 (LOSS)
    #varsdiv
      h1#vars  VS. EL CAMINO 
      h2.info  DATE: 3/30
      h2.info  TIME: 11:00 AM
      h2.info  DETAILS:  ARCHBISHOP RIORDAN HIGH SCHOOL
      h2.info  SCORE:  7-3 (WIN)
    #varsdiv
      h1#vars  VS. @ SACRED HEART CATHEDRAL PREPARATORY 
      h2.info  DATE: 3/29
      h2.info  TIME: 4:00 PM
      h2.info  DETAILS:  DANTE BENEDETTI FIELD
      h2.info  SCORE:  6-2 (LOSS)
    #varsdiv
      h1#vars  VS. @ SERRA 
      h2.info  DATE: 3/26
      h2.info  TIME: 4:00 PM
      h2.info  DETAILS:  SERRA HIGH SCHOOL
      h2.info  SCORE:  13-6 (LOSS)
    #varsdiv
      h1#vars  VS. @ BELLARMINE COLLEGE PREP 
      h2.info  DATE: 3/21
      h2.info  TIME: 4:00 PM
      h2.info  DETAILS:  BELLARMINE COLLEGE PREP
      h2.info  SCORE:  9-0 (LOSS)
    #varsdiv
      h1#vars  VS. ST. IGNATIUS 
      h2.info  DATE: 3/19
      h2.info  TIME: 4:00 PM
      h2.info  DETAILS:  ARCHBISHOP RIORDAN HIGH SCHOOL
      h2.info  SCORE:  13-2 (LOSS)
    #varsdiv
      h1#vars  VS. VALLEY CHRISTIAN 
      h2.info  DATE: 3/16
      h2.info  TIME: 12:00 PM
      h2.info  DETAILS:  ARCHBISHOP RIORDAN HIGH SCHOOL
      h2.info  SCORE:  25-0 (LOSS)
    #varsdiv
      h1#vars  VS. @ ST. FRANCIS 
      h2.info  DATE: 3/15
      h2.info  TIME: 4:00 PM
      h2.info  DETAILS:  ST. FRANCIS HIGH SCHOOL
      h2.info  SCORE:  3-0 (LOSS)
    #varsdiv
      h1#vars  VS. ARCHBISHOP MITTY 
      h2.info  DATE: 3/19
      h2.info  TIME: 4:00 PM
      h2.info  DETAILS: ARCHBISHOP RIORDAN HIGH SCHOOL
      h2.info  SCORE:  13-2 (LOSS)
    #varsdiv
      h1#vars  VS. MENLO-ATHERTON 
      h2.info  DATE: 3/8
      h2.info  TIME: 3:30 PM
      h2.info  DETAILS:  ARCHBISHOP RIORDAN HIGH SCHOOL
      h2.info  SCORE:  9-1 (LOSS)
    #varsdiv
      h1#vars  VS. @  SACRED HEART CATHEDRAL PREPARATORY 
      h2.info  DATE: 3/6
      h2.info  TIME: 3:30 PM
      h2.info  DETAILS:  SACRED HEART CATHEDRAL PREPARATORY
      h2.info  SCORE:  4-4 (TIE)
    #varsdiv
      h1#vars  VS. CAPUCHINO 
      h2.info  DATE: 3/1
      h2.info  TIME: 3:30 PM
      h2.info  DETAILS:  ARCHBISHOP RIORDAN HIGH SCHOOL
      h2.info  SCORE:  13-2 (LOSS)
    #varsdiv
      h1#vars  VS. @ CARLMONT 
      h2.info  DATE: 2/28
      h2.info  TIME: 3:30 PM
      h2.info  DETAILS:  CARLMONT HIGH SCHOOL
      h2.info  SCORE:  7-0 (LOSS)
    #varsdiv2
      h1#vars  VS. RODRIGUEZ 
      h2.info  DATE: 2/22
      h2.info  TIME: 3:30 PM
      h2.info  DETAILS:  ARCHBISHOP RIORDAN HIGH SCHOOL
      h2.info  SCORE:  3-2 (LOSS)
    footer
      // <h2 id = "foot"> © ARCHBISHOP RIORDAN HIGH SCHOOL 2019 </h2>
